<html>
  <header>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </header>
  <body>
    <h1 class="text-center">URL Shortener</h1>
    <p class="text-center">Paste any url and get a shortened URL.</p>
    <form method="POST" action="/api/website" enctype="application/x-www-form-urlencoded" style="text-align: center;">
      <input type="text" name="originalUrl" id="website" placeholder="Website">
      <input type="submit" name="submit" value="Go">
    </form>
  </body>
</html>